.main-header{
	background: url(../img/acme.webp);
	min-height: 300px;
	background-size: cover;
}
.backgroup-overlay{
	background: rgb(231, 57, 20,.9);
	width: 100%;
	height: 300px;
}
i{
	width: 30%;
}
#pie{
	background: rgb(231, 57, 20);
	width: 100%;
	height: 100px;
}